<ul class="nav d-flex justify-content-between bg-light">
  <span class="d-flex justify-content-start">
    <li class="nav-item">
      <a class="nav-link text-dark" href="#/home"><i class="fa fa-home fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/profile/123">Profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/paper/new">Objavi rad</a>
    </li>
  </span>
  <span class="d-flex justify-content-end">
    <!--<li class="nav-item">
      <a class="nav-link" href="#/login">Uloguj se</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/register">Registruj se</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" href="#/logout">Izloguj se</a>
    </li>
  </span>
</ul>