<div class="container m-10">
  <form>
    <div class="form-group d-flex justify-content-between">
      <label for="paper">Application</label>
      <span id="paper"><a href="#/paper/123">Paper_title</a></span>
    </div>
    <div class="form-group d-flex justify-content-between">
      <label for="task">Task goal</label>
      <span id="task">Task_goal</span>
    </div>
    <div class="form-group">
      <textarea class="form-control">Public comment...</textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control">Private comment...</textarea>
    </div>
    <div class="form-group">
      <label for="grade">Grade: </label>
      <select class="form-control" id="grade">
        <option value="opt1">Option 1</option>
        <option value="opt2">Option 2</option>
        <option value="opt3">Option 3</option>
        <option value="opt4">Option 4</option>
      </select>
    </div>
    <button class="btn">OK</button>
  </form>
</div>
