<div class="container-fluid">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <div class="fixed-bottom bg-light">Footer</div>
  <!--<div>
    <input type="text" [(ngModel)]="username" placeholder="username"/>
    <br />
    <input type="text" [(ngModel)]="merchandise" placeholder="merchandise"/>
    <br />
    <input type="text" [(ngModel)]="issn" placeholder="issn"/>
    <br />
    <input type="text" [(ngModel)]="currency" placeholder="currency"/>
    <br />
    <input type="number" [(ngModel)]="price" placeholder="price"/>
    <br />
    <button type="btn btn-lg" (click)="generateSession()">OK</button>
  </div>-->
</div>