<div class="container m-10">
  <input type="text" [(ngModel)]="taskId" />
  <form (submit)="submit()">
    <div class="form-group" *ngFor="let field of formData">
      <label for="{{field.id}}">{{field.label}}</label>
      <input *ngIf="field.type==='string'" class="form-control" name="{{field.id}}" type="text" id="{{field.id}}" placeholder="{{field.label}}..." [(ngModel)]="field.value"/>
      <input *ngIf="field.type==='password'" class="form-control" name="{{field.id}}" type="password" id="{{field.id}}" placeholder="{{field.label}}..." [(ngModel)]="field.value"/>
      <input *ngIf="field.type==='email'" class="form-control" name="{{field.id}}" type="email" id="{{field.id}}" placeholder="{{field.label}}..." [(ngModel)]="field.value"/>
    </div>
    <!--<div class="form-group">
      <label for="email">E-mail</label>
      <input class="form-control" type="email" id="email" placeholder="email..."/>
    </div>
    <div class="form-group d-flex justify-content-between">
      <span>
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" placeholder="password..."/>
      </span>
      <span>
        <label for="confpassword">Confirm password</label>
        <input class="form-control" type="password" id="confpassword" placeholder="password..."/>
      </span>
    </div>
    <div class="form-group d-flex justify-content-between">
      <span>
        <label for="fname">First name</label>
        <input class="form-control" type="text" id="fname" placeholder="first name..."/>
      </span>
      <span>
        <label for="lname">Last name</label>
        <input class="form-control" type="text" id="lname" placeholder="last name.."/>
      </span>
    </div>
    <div class="form-group d-flex justify-content-between">
      <span>
        <label for="city">City</label>
        <input class="form-control" type="text" id="city" placeholder="city..."/>
      </span>
      <span>
        <label for="country">Country</label>
        <input class="form-control" type="text" id="country" placeholder="country.."/>
      </span>
    </div>-->
    <button class="btn">OK</button>
  </form>
</div>