<div class="container m-2">
  <h2>Tasks</h2>
  <ul class="list-group">
    <li class="list-group-item container-fluid">
      <div class="row">
        <span class="col-1">Paper</span>
        <span class="col-4"><a href="/#/paper/123">Paper_title</a></span>
        <span class="col-1">&nbsp;</span>
        <span class="col-1">Deadline</span>
        <span class="col-3">Deadline_time</span>
        <span class="col-2"><button class="btn">Finish</button></span>
      </div>
      <div class="row">
        <p class="col-12">Summary</p>
      </div>
    </li>
  </ul>
</div>