<div class="container">
  <br />
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': page==0}" routerLink="../profile" (click)="page=0">Osnovne informacije</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': page==1}" routerLink="../profile" (click)="page=1">Zadaci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': page==2}" routerLink="../profile" (click)="page=2">Kupovine</a>
    </li>
  </ul>
  <div *ngIf="page==0">
    <h4>Osnovne informacije</h4>
    <br />
    <table *ngIf="user">
      <tbody>
        <tr>
          <th scope="col">Korisnicko ime</th>
          <td>{{loginService.getUser()}}</td>
        </tr>
        <tr>
          <th scope="col">Ime</th>
          <td>{{user.fName}}</td>
        </tr>
        <tr>
          <th scope="col">Prezime</th>
          <td>{{user.lName}}</td>
        </tr>
        <tr>
          <th scope="col">E-mail adresa</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th scope="col">Grad i drzava</th>
          <td>{{user.city}}, {{user.country}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="page==1">
    <br />
    <h4>Zadaci</h4>
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col-3">Opis</th>
          <th scope="col">Rok</th>
          <th scope="col">Akcije</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{task.name}}</td>
            <td>{{task.due}}</td>
            <td><button class="btn btn-primary" (click)="submitFinishedTask(task.id)">Zavrsi</button></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="page==2">
    <br />
    <h4>Kupljeni radovi</h4>
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Rad</th>
          <th scope="col">Iznos</th>
          <th scope="col">Valuta</th>
          <th scope="col">Vreme kupovine</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paper of paperPurchases">
          <td>{{paper.paper}}</td>
          <td>{{paper.amount}}</td>
          <td>{{paper.currency}}</td>
          <td>{{paper.timeOfPurchase}}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <!--<h4>Kupljena izdanja</h4>
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Izdanje</th>
          <th scope="col">Iznos</th>
          <th scope="col">Valuta</th>
          <th scope="col">Vreme kupovine</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issue of issuePurchases">
          <td>{{issue.issuePK}}</td>
          <td>{{issue.amount}}</td>
          <td>{{issue.currency}}</td>
          <td>{{issue.timeOfPurchase}}</td>
        </tr>
      </tbody>
    </table>
    <br />-->
    <h4>Pretplate</h4>
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Casopis</th>
          <th scope="col">Iznos</th>
          <th scope="col">Valuta</th>
          <th scope="col">Vreme kupovine</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subscription of subscriptionPurchases">
          <td>{{subscription.subscription}}</td>
          <td>{{subscription.amount}}</td>
          <td>{{subscription.currency}}</td>
          <td>{{subscription.timeOfPurchase}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template let-modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Prijava</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modal.dismiss('')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Naslov</th>
          <th scope="col">Apstrakt</th>
          <th scope="col">Autor</th>
          <th scope="col">Oblast</th>
          <th scope="col">Postavljeno</th>
          <th scope="col">Akcije</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{application.title}}</td>
          <td>{{application.abstract}}</td>
          <td>{{application.author}}</td>
          <td>{{application.field}}</td>
          <td>{{application.timestamp}}</td>
          <td><button class="btn btn-primary" (click)="download(application.file)">Preuzmi rad</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #template1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Zadatak</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modal.dismiss('')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="task.type==='REVIEWER_PROPOSAL'">
      <h4>Odaberi recenzente</h4>
      <select multiple class="form-control" name="reviewers" id="reviewers" [(ngModel)]="chosens">
        <option *ngFor="let reviewer of reviewers" value="{{reviewer.username}}">{{reviewer.username}}</option>
      </select>
      <br />
      <button class="btn btn-primary" (click)="submitFinishedTask()">Zavrsi</button>
    </div>
    <div *ngIf="task.type==='REVIEW_ANALYSIS'">
      <h4>Odobri rad</h4>
      <table>
        <tr>
          <td class="form-control-label">Unesi DOI za rad: </td>
          <td colspan="3"><input type="text" id="doi" name="doi" class="form-control" [(ngModel)]="doi" /></td>
        </tr>
        <tr>
          <td class="form-control-label">Cena: </td>
          <td><input type="number" id="price" name="price" class="form-control" [(ngModel)]="price" /></td>
          <td class="form-control-label">Valuta: </td>
          <td><input type="text" id="curr" name="curr" class="form-control" [(ngModel)]="currency" /></td>
        </tr>
        <tr>
          <td>Izdanje:</td>
          <td>
            <select class="form-control" name="issues" id="issues" [(ngModel)]="issue">
              <option *ngFor="let issu of issues" value="{{issu.id}}">{{issu.edition}}</option>
            </select>
          </td>
        </tr>
      </table>
      <br />
      <button class="btn btn-primary" (click)="submitFinishedTask()">Zavrsi</button>
    </div>
  </div>
</ng-template>
